*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background: url(300.jpg);
    font-size: 62.5%;}
    
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}
.c1,
.c2,
.c3,
.c4,
.c5{
    width: 100%;
    min-width: 150px;
    height: 320px;
    color: rgb(205, 205, 83);
    font-size: 2rem;
    text-align: center;
    border: solid;
    border-radius: 10%;
    border-color: rgb(135, 135, 135);


}
.c1{
    height: auto;
}
.Fortalecimiento{
    font-size: 4rem;
    padding: 4%;
    color: rgb(205, 205, 83);

}
hr {color: blue;}
@media(min-width:800px)
{
    .c1{
    order: 1;
    width: 100%;}
    .c2{
        width: 50%;
        order: 2;
    }
    .c3{
        width: 50%;
        order: 3;
    }
    .c4{
        width: 50% ;
        order: 4;
    }
    .c5{
        width: 50%;
        order: 5;
    }
}


